<div>
  <app-header></app-header>

  <div _ngcontent-rnn-c5="" class="row">
    <!-- cuadro informativo -->

    <div _ngcontent-rnn-c5="" class="col-lg-3 col-md-6 col-sm-6">
     <div _ngcontent-rnn-c5="" class="card card-stats">
       <div
         _ngcontent-rnn-c5=""
         class="card-header card-header-info card-header-icon"
       >
         <div _ngcontent-rnn-c5="" class="card-icon">
           <i _ngcontent-rnn-c5="" class="fa fa-twitter"></i>
         </div>
         <p _ngcontent-rnn-c5="" class="card-category">Followers</p>
         <h3 _ngcontent-rnn-c5="" class="card-title">+245</h3>
       </div>
       <div _ngcontent-rnn-c5="" class="card-footer">
         <div _ngcontent-rnn-c5="" class="stats">
           <i _ngcontent-rnn-c5="" class="material-icons">update</i>
         </div>
       </div>
     </div>
   </div>
    <!-- cuadro informativo -->

    <div _ngcontent-rnn-c5="" class="col-lg-3 col-md-6 col-sm-6">
     <div _ngcontent-rnn-c5="" class="card card-stats">
       <div
         _ngcontent-rnn-c5=""
         class="card-header card-header-info card-header-icon"
       >
         <div _ngcontent-rnn-c5="" class="card-icon">
           <i _ngcontent-rnn-c5="" class="fa fa-twitter"></i>
         </div>
         <p _ngcontent-rnn-c5="" class="card-category">Followers</p>
         <h3 _ngcontent-rnn-c5="" class="card-title">+245</h3>
       </div>
       <div _ngcontent-rnn-c5="" class="card-footer">
         <div _ngcontent-rnn-c5="" class="stats">
           <i _ngcontent-rnn-c5="" class="material-icons">update</i>
         </div>
       </div>
     </div>
   </div>
    <!-- cuadro informativo -->

    <div _ngcontent-rnn-c5="" class="col-lg-3 col-md-6 col-sm-6">
     <div _ngcontent-rnn-c5="" class="card card-stats">
       <div
         _ngcontent-rnn-c5=""
         class="card-header card-header-info card-header-icon"
       >
         <div _ngcontent-rnn-c5="" class="card-icon">
           <i _ngcontent-rnn-c5="" class="fa fa-twitter"></i>
         </div>
         <p _ngcontent-rnn-c5="" class="card-category">Followers</p>
         <h3 _ngcontent-rnn-c5="" class="card-title">+245</h3>
       </div>
       <div _ngcontent-rnn-c5="" class="card-footer">
         <div _ngcontent-rnn-c5="" class="stats">
           <i _ngcontent-rnn-c5="" class="material-icons">update</i>
         </div>
       </div>
     </div>
   </div>

     <!-- cuadro informativo -->

  <div _ngcontent-rnn-c5="" class="col-lg-3 col-md-6 col-sm-6">
   <div _ngcontent-rnn-c5="" class="card card-stats">
     <div
       _ngcontent-rnn-c5=""
       class="card-header card-header-info card-header-icon"
     >
       <div _ngcontent-rnn-c5="" class="card-icon">
         <i _ngcontent-rnn-c5="" class="fa fa-twitter"></i>
       </div>
       <p _ngcontent-rnn-c5="" class="card-category">Followers</p>
       <h3 _ngcontent-rnn-c5="" class="card-title">+245</h3>
     </div>
     <div _ngcontent-rnn-c5="" class="card-footer">
       <div _ngcontent-rnn-c5="" class="stats">
         <i _ngcontent-rnn-c5="" class="material-icons">update</i>
       </div>
     </div>
   </div>
  </div>
  </div>

  <div _ngcontent-rnn-c5="" class="row">

     <!-- segundo cuadro cuadro de calculo -->
  <div _ngcontent-rnn-c5="" class="col-md-4">
   <div _ngcontent-rnn-c5="" class="card card-chart">
     <div _ngcontent-rnn-c5="" class="card-header card-header-warning">
       <div _ngcontent-rnn-c5="" class="ct-chart" id="websiteViewsChart">
         <svg>
           <g class="ct-grids">
             <line
               y1="120"
               y2="120"
               x1="40"
               x2="274.65625"
               class="ct-grid ct-vertical"
             ></line>
             <line
               y1="96"
               y2="96"
               x1="40"
               x2="274.65625"
               class="ct-grid ct-vertical"
             ></line>
             <line
               y1="72"
               y2="72"
               x1="40"
               x2="274.65625"
               class="ct-grid ct-vertical"
             ></line>
             <line
               y1="48"
               y2="48"
               x1="40"
               x2="274.65625"
               class="ct-grid ct-vertical"
             ></line>
             <line
               y1="24"
               y2="24"
               x1="40"
               x2="274.65625"
               class="ct-grid ct-vertical"
             ></line>
             <line
               y1="0"
               y2="0"
               x1="40"
               x2="274.65625"
               class="ct-grid ct-vertical"
             ></line>
           </g>
           <g>
             <g class="ct-series ct-series-a">
               <line
                 x1="49.77734375"
                 x2="49.77734375"
                 y1="120"
                 y2="54.959999999999994"
                 class="ct-bar"
                 ct:value="542"
                 opacity="1"
               ></line>
               <line
                 x1="69.33203125"
                 x2="69.33203125"
                 y1="120"
                 y2="66.84"
                 class="ct-bar"
                 ct:value="443"
                 opacity="1"
               ></line>
               <line
                 x1="88.88671875"
                 x2="88.88671875"
                 y1="120"
                 y2="81.6"
                 class="ct-bar"
                 ct:value="320"
                 opacity="1"
               ></line>
               <line
                 x1="108.44140625"
                 x2="108.44140625"
                 y1="120"
                 y2="26.400000000000006"
                 class="ct-bar"
                 ct:value="780"
                 opacity="1"
               ></line>
               <line
                 x1="127.99609375"
                 x2="127.99609375"
                 y1="120"
                 y2="53.64"
                 class="ct-bar"
                 ct:value="553"
                 opacity="1"
               ></line>
               <line
                 x1="147.55078125"
                 x2="147.55078125"
                 y1="120"
                 y2="65.64"
                 class="ct-bar"
                 ct:value="453"
                 opacity="1"
               ></line>
               <line
                 x1="167.10546875"
                 x2="167.10546875"
                 y1="120"
                 y2="80.88"
                 class="ct-bar"
                 ct:value="326"
                 opacity="1"
               ></line>
             </g>
           </g>
         </svg>
       </div>
     </div>
     <div _ngcontent-rnn-c5="" class="card-body">
       <h4 _ngcontent-rnn-c5="" class="card-title">Visitas</h4>
       <p _ngcontent-rnn-c5="" class="card-category">
         subtitulo
       </p>
     </div>
   </div>
  </div>
     <!-- segundo cuadro de calculo -->
  <div _ngcontent-rnn-c5="" class="col-md-4">
   <div _ngcontent-rnn-c5="" class="card card-chart">
     <div _ngcontent-rnn-c5="" class="card-header card-header-danger">
       <div _ngcontent-rnn-c5="" class="ct-chart" id="completedTasksChart">
         <svg>
           <g class="ct-grids">
             <line
               x1="40"
               x2="40"
               y1="0"
               y2="120"
               class="ct-grid ct-horizontal"
             ></line>
             <line
               x1="69.95703125"
               x2="69.95703125"
               y1="0"
               y2="120"
               class="ct-grid ct-horizontal"
             ></line>
             <line
               x1="99.9140625"
               x2="99.9140625"
               y1="0"
               y2="120"
               class="ct-grid ct-horizontal"
             ></line>
             <line
               x1="129.87109375"
               x2="129.87109375"
               y1="0"
               y2="120"
               class="ct-grid ct-horizontal"
             ></line>
             <line
               x1="159.828125"
               x2="159.828125"
               y1="0"
               y2="120"
               class="ct-grid ct-horizontal"
             ></line>
             <line
               x1="189.78515625"
               x2="189.78515625"
               y1="0"
               y2="120"
               class="ct-grid ct-horizontal"
             ></line>
             <line
               x1="219.7421875"
               x2="219.7421875"
               y1="0"
               y2="120"
               class="ct-grid ct-horizontal"
             ></line>
             <line
               x1="249.69921875"
               x2="249.69921875"
               y1="0"
               y2="120"
               class="ct-grid ct-horizontal"
             ></line>
           </g>

           <g>
             <g class="ct-series ct-series-a">
               <path
                 d="M40,92.4C69.957,30,69.957,30,69.957,30C99.914,66,99.914,66,99.914,66C129.871,84,129.871,84,129.871,84C159.828,86.4,159.828,86.4,159.828,86.4C189.785,91.2,189.785,91.2,189.785,91.2C219.742,96,219.742,96,219.742,96C249.699,97.2,249.699,97.2,249.699,97.2"
                 class="ct-line"
               ></path>
             </g>
           </g>
     <!-- numeros con letras -->
     <!-- numeros con letras -->

         </svg>
       </div>
     </div>
     <div _ngcontent-rnn-c5="" class="card-body">
       <h4 _ngcontent-rnn-c5="" class="card-title">Pacientes</h4>
       <p _ngcontent-rnn-c5="" class="card-category">sub titulo</p>
     </div>
   </div>
  </div>
  </div>
  <div _ngcontent-rnn-c5="" class="row">
  <!-- primera tabla -->
  <div _ngcontent-rnn-c5="" class="col-lg-6 col-md-12">
   <div _ngcontent-rnn-c5="" class="card">
     <div _ngcontent-rnn-c5="" class="card-header card-header-warning">
       <h4 _ngcontent-rnn-c5="" class="card-title">Doctores</h4>
       <p _ngcontent-rnn-c5="" class="card-category">sub titulo</p>
     </div>
     <div _ngcontent-rnn-c5="" class="card-body table-responsive">
       <table _ngcontent-rnn-c5="" class="table table-hover">
         <thead _ngcontent-rnn-c5="" class="text-warning">
           <th _ngcontent-rnn-c5="">Nombres</th>
           <th _ngcontent-rnn-c5="">Apellidos</th>
           <th _ngcontent-rnn-c5="">Eded</th>
           <th _ngcontent-rnn-c5="">Consultorio</th>
         </thead>
         <tbody _ngcontent-rnn-c5="">
           <tr _ngcontent-rnn-c5="">
             <td _ngcontent-rnn-c5="">...</td>
             <td _ngcontent-rnn-c5="">...</td>
             <td _ngcontent-rnn-c5="">...</td>
             <td _ngcontent-rnn-c5="">...</td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
  </div>
  <!-- segunda tabla -->
  <div _ngcontent-rnn-c5="" class="col-lg-6 col-md-12">
   <div _ngcontent-rnn-c5="" class="card">
     <div _ngcontent-rnn-c5="" class="card-header card-header-warning">
       <h4 _ngcontent-rnn-c5="" class="card-title">Pacientes</h4>
       <p _ngcontent-rnn-c5="" class="card-category">sub titulo</p>
     </div>
     <div _ngcontent-rnn-c5="" class="card-body table-responsive">
       <table _ngcontent-rnn-c5="" class="table table-hover">
         <thead _ngcontent-rnn-c5="" class="text-warning">
           <th _ngcontent-rnn-c5="">Nombres</th>
           <th _ngcontent-rnn-c5="">Apellidos</th>
           <th _ngcontent-rnn-c5="">Edad</th>
           <th _ngcontent-rnn-c5="">Consultorio</th>
         </thead>
         <tbody _ngcontent-rnn-c5="">
           <tr _ngcontent-rnn-c5="">
             <td _ngcontent-rnn-c5="">...</td>
             <td _ngcontent-rnn-c5="">...</td>
             <td _ngcontent-rnn-c5="">...</td>
             <td _ngcontent-rnn-c5="">...</td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
  </div>
  </div>
  </div>
